<a href="https://colab.research.google.com/github/swilsonmfc/trees/blob/master/Poker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Poker

![](https://i.etsystatic.com/19649291/r/il/9a6f10/1844621007/il_570xN.1844621007_h7a5.jpg)

# Setup

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
import requests

# Data
* Hand Values
  * 0: Nothing in hand; not a recognized poker hand
  * 1: One pair; one pair of equal ranks within five cards
  * 2: Two pairs; two pairs of equal ranks within five cards
  * 3: Three of a kind; three equal ranks within five cards
  * 4: Straight; five cards, sequentially ranked with no gaps
  * 5: Flush; five cards with the same suit
  * 6: Full house; pair + different rank three of a kind
  * 7: Four of a kind; four equal ranks within five cards
  * 8: Straight flush; straight + flush
  * 9: Royal flush; {Ace, King, Queen, Jack, Ten} + flush

In [ ]:
columns = []
for card in range(5):
  columns.append(f'suit_{card}')
  columns.append(f'card_{card}')
columns.append('hand')

In [ ]:
train = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-training-true.data', names=columns, index_col=False)
test  = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/poker/poker-hand-testing.data', names=columns, index_col=False)

In [ ]:
train

       suit_0  card_0  suit_1  card_1  ...  card_3  suit_4  card_4  hand
0           1      10       1      11  ...      12       1       1     9
1           2      11       2      13  ...      12       2       1     9
2           3      12       3      11  ...      10       3       1     9
3           4      10       4      11  ...      13       4      12     9
4           4       1       4      13  ...      11       4      10     9
...       ...     ...     ...     ...  ...     ...     ...     ...   ...
25005       3       9       2       6  ...      12       2       4     0
25006       4       1       4      10  ...       4       1      10     1
25007       2       1       2      10  ...       1       4      13     1
25008       2      12       4       3  ...      12       4       9     1
25009       1       7       3      11  ...       8       3       7     1

[25010 rows x 11 columns]

# Task
* Given five cards ... what's the hand?