<a href="https://colab.research.google.com/github/swilsonmfc/trees/blob/master/TicTacToe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tic Tac Toe

![](https://miro.medium.com/max/599/1*Wbif8jHo31boDYlbpDcT_Q@2x.jpeg)

# Setup

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import AdaBoostClassifier

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score

# Data

In [2]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data

--2021-03-17 20:02:59--  https://archive.ics.uci.edu/ml/machine-learning-databases/tic-tac-toe/tic-tac-toe.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25866 (25K) [application/x-httpd-php]
Saving to: ‘tic-tac-toe.data’

tic-tac-toe.data    100%[===================>]  25.26K   167KB/s    in 0.2s

2021-03-17 20:03:00 (167 KB/s) - ‘tic-tac-toe.data’ saved [25866/25866]

In [16]:
names = [f'pos_{x}' for x in range(9)] + ['target']
df = pd.read_csv('tic-tac-toe.data', names=names)

In [17]:
df

    pos_0 pos_1 pos_2 pos_3 pos_4 pos_5 pos_6 pos_7 pos_8    target
0       x     x     x     x     o     o     x     o     o  positive
1       x     x     x     x     o     o     o     x     o  positive
2       x     x     x     x     o     o     o     o     x  positive
3       x     x     x     x     o     o     o     b     b  positive
4       x     x     x     x     o     o     b     o     b  positive
..    ...   ...   ...   ...   ...   ...   ...   ...   ...       ...
953     o     x     x     x     o     o     o     x     x  negative
954     o     x     o     x     x     o     x     o     x  negative
955     o     x     o     x     o     x     x     o     x  negative
956     o     x     o     o     x     x     x     o     x  negative
957     o     o     x     x     x     o     o     x     x  negative

[958 rows x 10 columns]

# Visualize

In [28]:
def draw_game(row):
  print(f"{row['pos_0']} {row['pos_1']} {row['pos_2']}")
  print(f"{row['pos_3']} {row['pos_4']} {row['pos_5']}")
  print(f"{row['pos_6']} {row['pos_7']} {row['pos_8']}")
  print(row['target'])

In [29]:
draw_game(df.iloc[0])

x x x
x o o
x o o
positive

In [31]:
draw_game(df.iloc[957])

o o x
x x o
o x x
negative

# Preprocess

# Model

# Score